<header>
<h1> {{pageTitle}}</h1>
<p> <a href="/" style="text-decoration:none; text-style:bold; color:black; font-family:roboto;"> Home </a></p>
<p> <a href="/about"> About </a></p>
<p> <a href="/projects"> projects </a></p>

</header>
